body, html {
	background-image: url("https://wallpapercave.com/wp/wp2355321.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-blend-mode: overlay;
	padding-top:15px;
	height: 100vw;
	background-color: #333;
	color: #fff;
}

dark-mode {
	background-color: #333;
	color: #fff;
}

.dark-mode .navbar {
	background-color: #222;
	color: #fff;
}

.dark-mode .btn {
	background-color: #555;
	color: #fff;
}

.inner-container {
	border: 1px solid #fff;
	padding: 3px;
}

#trainPhoto, #routePhoto, #ridePhoto, .map-container, .carousel-item{
	width: 100%;
	padding: 10px;
	border: gray solid 1px;
}

#userPhoto{
	width: 75%;
	padding: 10px;
	border: gray solid 1px;
}
#userList-photo{
	width: 40%;
	padding: 10px;
	border: gray solid 1px;
	
}

body.dark-mode table.table {
	color: #fff;
}

body.dark-mode table.table thead th {
	color: #fff;
}

body.dark-mode table.table tbody td {
	color: #fff;
}

body.dark-mode table.table tbody td {
	color: #fff;
}

@media only screen and (max-width: 800px) {
	.modal {
		position: relative;
	}
}

.modal {
	color: #fff;
}

.modal-content {
	background-color: #333;
	color: #fff;
	height: 100%;
	width: 100%;
}

.modal-header {
	border-bottom: 1px solid #ddd;
}

.modal-title {
	color: #fff;
}

ul{
	width: 100%;
	display:flex;
	justify-content:space-around;	
	gap: 3ev;
	list-style:none;

}
li{
	text-decoration:none;
}

.navbar{
	width:100vw;
	height:5em;
}
.navbar-container, .wishlist-button, .ride-button, .website-button, .comment-button, .admin-users-button, .profile-update-button{
	display:flex;
	justify-content:space-around;
	flex-direction:row;
	align-items:center;
	width: 100%;
}
.home-page, .details-page, .user-page, .display-all-trains, .train-search-result{
	padding-top: 15px;
}
#details-page-train-description, #details-page-individual-comment, #details-page-route-info, #user-description {
	background:rgba(255,255,255,0.4);
	padding: 10px;
}
.row {
	color: #fff;
}

.dark-mode .container {
	color: #fff;
}

.col-9 align-self-right {
	display: flex;
}

.carousel-container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 100%;
}
.carousel-item img {
	width: 1000px;
}
.carousel-caption{
background:rgba(0,0,0,0.5);	
}
a {
	text-decoration:none;
	color:#fff;	
	padding: 3px;
}
.carousel-href-tag{
	text-decoration:none;
	color: white;	
}
.carousel-href-tag:hover{
	color:Dodger Blue;
}
.table-hover-light tr:hover{
	background-color:rgba(255,255,255,0.1);
}
